.btn-darkBlue {
    font-size: 20px;
    text-decoration: none;
    background-color: $darkblue;
    border-radius: 6px;
    padding: 10px 25px;
    display: inline-block;
    border: none;
    &:hover {
        background-color: $lightblue;
    }
}
