#home {
    position: relative;
    min-height: 150vh;
    z-index: 1;

    @import "../components/firstBlock.scss";
    @import "../components/secondBlock.scss";
    @import "../components/thirdBlock.scss";

}


/* ----- MEDIA QUERY ----- */
// @include sm {
//     #home {
//     }
// }
// @include md {
//     #home {
//     }
// }

// @include lg {
//     #home {
//     }
// }

// @include xl {
//     #home {
//     }
// }
